<% @title = "Visiting from outside Hong Kong?" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <% if params[:country_name].present? %>
    <h1>You're visiting from outside 香港 (Hong Kong)</h1>
  <% else %>
    <h1><%= @title %></h1>
  <% end %>

  <p><%= site_name %> only handles requests under Hong Kong's
    <a href="https://www.access.gov.hk/">Code on Access to Information</a>.
    It can't be used to request information from authorities outside Hong Kong.</p>

  <h2>Find an equivalent site for your country</h2>

  <p>Many countries have their own access to information / freedom of information
    websites built on the same open-source software (<a href="http://alaveteli.org/">Alaveteli</a>)
    that powers <%= site_name %>. To find one for your country, see the
    <a href="https://www.alaveteli.org/deployments/">list of Alaveteli deployments
    around the world</a>.</p>

  <p>If your country isn't listed, your government may still have its own access
    to information process — search for "access to information" or "freedom of
    information" together with your country's name.</p>

  <h2>About the software</h2>

  <p><a href="http://alaveteli.org/">Alaveteli</a> is open-source software for
    making access to information requests, originally created by
    <a href="https://www.mysociety.org/">mySociety</a>. Anyone can set up a
    similar site for their own country — see the
    <a href="https://www.alaveteli.org/">Alaveteli project website</a> for details.</p>

  <div id="hash_link_padding"></div>
</div>
